/* ---------------------------------- reset ---------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul {
    list-style: none;
}
body {
    background: var(--bg-primary);
    color: var(--text-color);
}
hr {
    width: 100%;
}

/* ---------------------------------- root variables ---------------------------------- */
:root {
    --color-primary: #64acff;
    --color-secondary: #969595;
    --text-color: #ffffff;
    --bg-primary: #111111;
    --bg-secondary: #0f4685;
    --bg-section: #1b1b1b;
}

/* ---------------------------------- header ---------------------------------- */
.site-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: transparent;
    padding: 1.7rem 2rem;
    border-bottom: 1px solid var(--color-secondary);
    transition: all .3s ease;
}
.site-header.scrolly {
    background: var(--bg-secondary);
    padding: 1.2rem 2rem;
}
.main-nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secondary);
}
.logo span {
    font-size: 2rem;
    color: var(--color-primary);
    transition: all .3s ease;
}
.site-header.scrolly .logo span {
    color: var(--text-color)
}
.nav-links li{
    margin-left: 3rem;
    font-weight: 600;
    display: inline-block;
}
.nav-links a {
    font-size: 1.125rem;
    transition: .3s;
}
.nav-links a:hover {
    color: var(--color-primary);
}
.site-header.scrolly .nav-links a:hover {
    color: var(--color-secondary);
}

.menu-btn {
    cursor: pointer;
    display: none;
    background: transparent;
    border: none;
}
.menu-btn i {
    font-size: 1.45rem;
    color: var(--color-primary);
    transition: .3s;
}
.site-header.scrolly .menu-btn i {
    color: var(--text-color);
}
.menu-btn i.active::before {
    content: "\f00d";
}


main {
    position: relative;
    width: 100%;
    padding: 0 2rem;
}

/* ---------------------------------- start section ---------------------------------- */
.section-start {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    align-items: center;
}
.text-1 {
    font-size: 1.7em;
}
.text-2 {
    font-size: 5em;
    font-weight: 600;
    margin-left: -0.03em;
}
.text-3 {
    font-size: 2.5em;
    margin: .31em 0;
}
.text-3 span {
    color: var(--color-primary);
    font-weight: 500;
}

.btn-start {
    display: flex;
    gap: 3rem;
    margin-top: 1em;
}
.btn-start a {
    display: flex;
    align-items: center;
    gap: .7em;
    border-radius: .3em;
    padding: .5em 1.3em;
    border: .2em solid var(--color-primary);
    transition: .5s;
}
.btn-start a:hover {
    background: var(--color-primary);
}
.btn-start i {
    font-size: 1.25em;
}

.content-img {
    position: absolute;
    right: 2em;
    width: 60%;
    opacity: .5;
}
.content-img img {
    width: 100%;
}

/* ---------------------------------- about section ---------------------------------- */
.section-about {
    max-width: 1200px;
    min-height: 100vh;
    background: var(--bg-section);
    margin: 0 auto;
    padding: 5rem 0;
    border-radius: .3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}
.container-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 2rem 0 2rem;
}
.about-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: .3rem;
}
.about-me {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-about {
    font-size: 25px;
    font-weight: 600;
}
.text-about span {
    color: var(--color-primary);
}
.about-me p {
    text-align: justify;
    font-weight: 600;
    color: var(--color-secondary);
    line-height: 22px;
}
.curriculum {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .7rem;
    border-radius: .3rem;
    padding: .6rem 1.3rem;
    border: 2px solid var(--color-primary);
    transition: .5s;
}
.curriculum:hover {
    background: var(--color-primary);
}

/* ---------------------------------- projects section ---------------------------------- */
.section-projects {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 60px 0 0;
}
.card {
    width: 350px;
    background: var(--bg-section);
    border-radius: .3rem;
    padding: 20px 0;
    border: 1px solid #96959586;
    transition: .5s;
}
.card:hover {
    scale: 1.04;
}
.card img {
    width: 100%;
    height: 270px;
}
.box {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 0 25px;
}
.box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--color-primary);
}
.text-box {
    font-size: 16px;
    font-weight: 600;
    margin: .5rem 0;
}
.technologies {
    font-size: 13px;
    color: var(--color-secondary);
}
.box a {
    width: fit-content;
    font-size: 15px;
    border-radius: .3rem;
    padding: .3rem .9rem;
    border: 2px solid var(--color-primary);
    transition: .5s;
}
.box a:hover {
    background: var(--color-primary);
}

.em-breve {
    width: 100%;
    height: 270px;
}

/* ---------------------------------- skills ---------------------------------- */
.section-skills {
    max-width: 1200px;
    min-height: 100vh;
    background: var(--bg-section);
    margin: 0 auto;
    padding: 5rem 0;
    border-radius: .3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 2rem 0 2rem;
    padding: 0 0 5rem 0;
}
.description-skills,  .level-skills {
    width: calc(50% - 30px);
}

.my-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.my-skills i {
    font-size: 50px;
}
.description-skills p {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
    text-align: justify;
}


.barra {
    margin: 20px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--bg-secondary);
}
.html::before {
    width: 80%;
}
.css::before {
    width: 75%;
}
.javascript::before {
    width: 70%;
}
.git::before {
    width: 70%;
}
.github::before {
    width: 60%;
}

/* ---------------------------------- contact ---------------------------------- */
.section-contact {
    position: absolute;
    width: 100%;
    background: var(--bg-primary);
    bottom: 0;
    padding: 1rem 0;
}
.container-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.credits {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.credits span {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-secondary);
}
.connections i {
    font-size: 40px;
    margin-left: 1rem;
    color: var(--color-secondary);
    transition: .5s;
}
.connections i:hover {
    color: var(--text-color);
}



/* =============================== media =============================== */
@media (max-width: 1440px) {
    /* ------------------- header ------------------- */
    .logo {
        font-size: 26px;
    }
    .logo span {
        font-size: 26px;
    }
    .list-menu a {
        font-size: 16px;
    }


    /* ------------------- start ------------------- */
    .text-1 {
        font-size: 25px;
    }
    .text-2 {
        font-size: 65px;
    }
    .text-3 {
        font-size: 37px;
    }
    
    .btn-start {
        gap: 2,5rem;
    }


    /* ---------------------- about ---------------------- */
    .container-about {
        margin: 50px 2rem 0 2rem;
    }
    .title {
        font-size: 32px;
    }
    .about-me {
        width: 60%;
    }
    .text-about {
        font-size: 24px;
    }
    .about-me p {
        line-height: 20px;
    }


    /* ---------------------- projects ---------------------- */
    .container-projects {
        margin: 50px 0 0;
    }
    .card {
        width: 300px;
    }
    .card img {
        width: 100%;
        height: 200px;
    }
    .box {
        gap: .5rem;
        padding: 0 22px;
    }
    .box h3 {
        margin-top: .6rem;
    }
    .text-box {
        font-size: 15px;
        margin: .3rem 0;
    }
    .technologies {
        font-size: 12px;
    }
    .em-breve {
        width: 100%;
        height: 190px;
    }


    /* ---------------------- skills ---------------------- */
    .container-skills {
        margin: 50px 2rem 0 2rem;
    }
}


@media (max-width: 1024px) {
    /* ------------------- header ------------------- */
    .logo {
        font-size: 24px;
    }
    .logo span {
        font-size: 24px;
    }
    .nav-links li{
        margin-left: 2.5rem;
    }
    .nav-links a {
        font-size: 14px;
    }

    /* ---------------------- start ---------------------- */
    .text-1 {
        font-size: 22px;
    }
    .text-2 {
        font-size: 58px;
    }
    .text-3 {
        font-size: 32px;
    }
    
    .btn-start {
        gap: 2.5rem;
    }

  
    /* ---------------------- about ---------------------- */
    .title {
        font-size: 30px;
    }
    .container-about {
        margin: 40px 2rem 0 2rem;
    }
    .about-image img {
        width: 300px;
        height: 300px;
    }
    .about-me {
        width: 52%;
    }
    .text-about {
        font-size: 21px;
    }
    .about-me p {
        font-size: 15px;
    }
    .curriculum {
        padding: .5rem 1.2rem;
    }


    /* ---------------------- projects ---------------------- */
    .container-projects {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        margin: 40px 0 0;
    }
    .card img {
        height: 220px;
    }
    .box h3 {
        margin-top: .7rem;
    }
    .text-box {
        font-size: 15px;
        margin: .4rem 0;
    }
    .box a {
        font-size: 13px;
    }
    .em-breve {
        height: 220px;
    }


    /* ---------------------- skills ---------------------- */
    .container-skills {
        margin: 40px 2rem 0 2rem;
    }
    .description-skills,  .level-skills {
        width: calc(50% - 20px);
    }
    
    .my-skills {
        gap: 1.5rem;
    }
    .my-skills i {
        font-size: 40px;
    }
    .description-skills p {
        font-size: 16px;
    }
    
    .info span {
        font-size: 15px;
    }
    .line {
        height: 4px;
    }


    /* ---------------------- contact ---------------------- */
    .credits span {
        font-size: 13px;
    }
    .connections i {
        font-size: 35px;
    }
}


@media (max-width: 768px) {
    /* ------------------- header ------------------- */
    .site-header {
        padding: 1.5rem 1.5rem;
    }
    .site-header.scrolly {
        padding: 1.2rem 1.5rem;
    }

    .nav-links {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #111111;
        padding: 3rem;
        transition: all .3s ease;
    }
    .nav-links a {
        font-size: 18px;
    }
    .nav-links.active {
        left: 0;
    }
    .nav-links li{
        margin: 1.5rem 0;
        width: fit-content;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }


    main {
        padding: 0 1.5rem;
    }

    
    /* ------------------- start ------------------- */
    .btn-start {
        gap: 1.5rem;
    }
    .btn-start a {
        font-size: 13px;
        gap: .6rem;
        padding: .5rem 1.1rem;
    }
    .btn-start i {
        font-size: 14px;
    }

    .content-img {
        display: none;
    }


    /* ------------------- about ------------------- */
    .title {
        font-size: 27px;
    }
    .container-about {
        justify-content: center;
        margin: 40px 2rem 0 2rem;
        gap: 1rem;
    }
    .about-image img {
        width: 250px;
        height: 250px;
    }
    .about-me {
        width: 100%;
    }
    .text-about {
        font-size: 24px;
    }


    /* ------------------- projects ------------------- */
    .container-projects {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 30px 0 0;
    }
    .card {
        width: 370px;
    }
    .card img {
        height: 270px;
    }
    .box {
        gap: .6rem;
        padding: 0 25px;
    }
    .box h3 {
        font-size: 19px;
    }
    .text-box {
        font-size: 15px;
    }
    .technologies {
        font-size: 12px;
    }


    /* ------------------- skills ------------------- */
    .container-skills {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 30px 2rem 0 2rem;
    }
    .description-skills,  .level-skills {
        width: 100%;
    }

    .my-skills i {
        font-size: 35px;
    }
    .description-skills p {
        font-size: 16px;
    }


    /* ------------------- skills ------------------- */
    .credits span {
        font-size: 12px;
    }
    .connections i {
        font-size: 30px;
    }
}


@media (max-width: 425px) {
    /* ------------------- header ------------------- */
    .site-header {
        padding: 1.5rem .5rem;
    }
    .site-header.scrolly {
        padding: 1.2rem .5rem;
    }
    .logo {
        font-size: 24px;
    }
    .logo span {
        font-size: 24px;
    }
    
    .btn-menu i {
        font-size: 21px;
    }

    main {
        padding: 0 .5rem;
    }

    /* ------------------- start ------------------- */
    .text-2 {
        font-size: 50px;
    }
    .text-3 {
        font-size: 28px;
    }

    .btn-start {
        gap: 1rem;
    }
    .btn-start a {
        font-size: 15px;
        gap: .6rem;
        padding: .5rem 1rem;
        border: .15em solid var(--color-primary);
    }
    .btn-start i {
        font-size: 16px;
    }

    /* ------------------- about ------------------- */
    .container-about {
        margin: 30px 1rem 0 1rem;
    }
    .title {
        font-size: 26px;
    }
    .about-image img {
        width: 300px;
        height: 300px;
    }
    .box h3 {
        font-size: 18px;
    }
    .text-box {
        font-size: 14px;
    }
    .text-about {
        font-size: 20px;
    }
    .curriculum {
        gap: .5rem;
        padding: .5rem 1.1rem;
        font-size: 14px;
    }


    /* ------------------- projects ------------------- */
    .card {
        width: 350px;
    }
    .card img {
        height: 270px;
    }
    .box {
        gap: .4rem;
    }


    /* ------------------- skills ------------------- */
    .container-skills {
        margin: 30px 2rem 0 1rem;
        gap: .5rem;
    }
    .my-skills {
        gap: 1rem;
    }
    .my-skills i {
        font-size: 40px;
    }
    .description-skills p {
        font-size: 18px;
    }
    .barra {
        margin: 20px 0;
    }
}


@media (max-width: 375px) {
    /* ------------------- start ------------------- */
    .text-1 {
        font-size: 20px;
    }
    .text-2 {
        font-size: 42px;
    }
    .text-3 {
        font-size: 24px;
    } 
    .btn-start a {
        font-size: 14px;
        gap: .5rem;
    }
    .btn-start i {
        font-size: 15px;
    }

    /* ------------------- about ------------------- */
    .about-image img {
        width: 250px;
        height: 250px;
    }

    /* ------------------- projects ------------------- */
    .card {
        width: 100%;
    }

    /* ------------------- skills ------------------- */
    .description-skills p {
        font-size: 16px;
    }

    .credits span {
        font-size: 10px;
    }
    .connections i {
        font-size: 21px;
    }
}


@media (max-width: 320px) {
    /* ------------------- start ------------------- */
    .text-1 {
        font-size: 18px;
    }
    .text-2 {
        font-size: 36px;
    }
    .text-3 {
        font-size: 20px;
    } 


}